/* Body */
body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    background-color: #6667ab;
    margin: 20pt;
    color: aliceblue;
}

/* Headings */
h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    font-size: 36pt;
    font-weight: bold;
    color:lightgray;
}

h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30pt;
    font-weight: bold;
    color:silver;
}

h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24pt;
    font-weight: bold;
    color: ivory;
}

/* Paragraph */
p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14pt;
    color:#FAF9F6;
}

/* <a> tags */

a:link {
    color: orange;
    text-decoration: none;
  }
  
  a:visited {
    color: orange;
    text-decoration: none;
  }

a:hover {
    font-size: 18pt;
    color: fuchsia;
    text-decoration: underline overline;
}

a:active {
    color:red;
    text-decoration:solid;
    background-color: yellow;
}

/* Table */

table {
    width: 45%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

td {
    background-color: #ffffff;
}

/* Div for text */
.div-text {
    padding: 10px;
    background-color: lightblue;
    border: 1px solid black;
    font-size: 14pt;
    color: ivory
}

/* Div for links */
.div-links {
    padding: 10px;
    background-color: #6082B6;
    border: 1px solid black;
    font-size: 14pt;
    text-align: center
}